@page "/editorder"
@page "/editorder/{id:int}"
@attribute [StreamRendering]

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject OrdersClient OrdersClient
@inject CustomersClient CustomersClient
@inject GamesClient GamesClient
<PageTitle>@title</PageTitle>
<h3>@title</h3>

@if (order is null || customers is null || games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm 
                Model="@order" 
                FormName="editOrder" 
                OnValidSubmit="HandleSubmitAsync"
                Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                               
                <div class="mb-3">
                    <label for="CustomerId" class="form-label">Customer Id:</label>
                    <InputSelect id="CustomerId" @bind-Value="order.CustomerId" class="form-select">
                        <option value="">Select a customer</option>
                        @foreach (var customer in customers)
                        {
                            <option value="@customer.Id">@customer.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => order.CustomerId" />
                    <button  class="btn btn-primary">New Customer</button>
                </div>
                <div class="mb-3">
                    <label for="GameId" class="form-label">Game Id:</label>
                    <InputSelect id="GameId" @bind-Value="order.GameId" class="form-select">
                        <option value="">Select a game</option>
                        @foreach (var game in games)
                        {
                            <option value="@game.Id">@game.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => order.GameId" />
                    <button  class="btn btn-primary">New Game</button>
                </div>
                <div class="mb-3">
                    <label for="Quantity" class="form-label">Quantity:</label>
                    <InputNumber id="Quantity" @bind-Value="order.Quantity" class="form-control" />
                    <ValidationMessage For="() => order.Quantity" />
                </div>
                <div class="mb-3">
                    <label for="PurchaseDate" class="form-label">Purchase Date:</label>
                    <InputDate id="PurchaseDate" @bind-Value="order.PurchaseDate" class="form-control" />
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox id="IsOrderComplete" @bind-Value="order.IsOrderComplete" class="form-check-input" />
                    <label for="IsOrderComplete" class="form-check-label">Is Order Complete:</label>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a role="button" class="btn btn-secondary" href="/orders">Cancel</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id {get; set;}

    [SupplyParameterFromForm]
    private OrderDetails? order { get; set; }    
    private CustomerDetails[]? customers { get; set; }  
    private GameSummary[]? games { get; set; }  
    
    private string title = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomersClient.GetCustomersAsync();
        games = await GamesClient.GetGamesAsync();
    }
    /*private  async Task<string> GetGameName(int GameId)
    {
        GameSummary[]? games = await GamesClient.GetGamesAsync();
        var game = games?.FirstOrDefault(g => g.Id == GameId);
        return game != null ? game.Name : "Unknown Game";
    }*/
    protected override async Task OnParametersSetAsync()
    {
        if (order is not null)
        {
            return;
        }

        if (Id is not null)
        {
            order = await OrdersClient.GetOrderAsync(Id.Value);
            title = $"Edit {order.Id}";
        }
        else
        {
            order = new()
            {
                Id = 0,
                CustomerId = 0,
                GameId = 0,
                PurchaseDate = DateTime.UtcNow,
                Quantity = 0,
                IsOrderComplete = false
            };

            title = "New Order";
        }
    }
    private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(order);

        if (Id is null)
        {
            await OrdersClient.AddOrderAsync(order);
        }
        else
        {
            order.Id = Id.Value;
            await OrdersClient.UpdateOrderAsync(order);
        }
        
        NavigationManager.NavigateTo("/orders");
    }
}
